* {
  box-sizing: border-box;
  margin: 0%;
}
body {
  margin: 0%;
  font-size: 17px;
  padding: 0%;
}

.homepage {
  padding: 8rem 5rem;
  height: 32.4rem;
  background-image: url(Images/back.jpg);
  background-position: center;
  background-size: cover;
  text-align: left;
  line-height: 399%;
}

.homepage h2 {
  font-family: "Alfa Slab One", cursive;
  font-weight: normal;
  margin-bottom: 0;
  font-size: 5rem;
  color: #f2dac3da;
  margin-top: 4%;
}

.homepage h3 {
  font-family: "Alfa Slab One", cursive;
  font-size: 3.625rem;
  font-weight: normal;
  line-height: 86%;
}
.homepage h4 {
  font-family: "Alfa Slab One", cursive;
  font-size: 3.625rem;
  font-weight: normal;
  line-height: 86%;
}

/* ***********NAVIGATION BAR*************** */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040404;
  position: sticky;
  padding: 0.5rem 2rem;
  top: 0;
  left: 0;
  z-index: 5;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2.25rem;
}

nav .link a {
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  color: white;
  margin: 1rem;
  cursor: pointer;
}
nav .link a:hover {
  color: #fcba03;
}

/*  */

.box {
  width: 100%;
  height: fit-content;
  margin: 10px;
}

.box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* *******************PAGE-2********************** */
.page2 {
  margin-top: 0%;
}

/* **********FLEX-CONTAINER */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  padding: 50px;
}

.art-submit {
	padding: 50px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#submit-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 400px;
	border: 1px solid black;
	padding: 40px 30px;
	border-radius: 20px;
}
#submit-form input {
	padding: 10px;
	border-radius: 5px;

	border: 1px solid black;
}
#submit-form button {
	padding: 15px;
	outline: none;
	margin-top: 20px;
	border: none;
	background-color: black;
	color: white;
	font-weight: bold;
}
#submit-form h1 {
	margin-bottom: 30px;
}




/* ****ART BUTTON IN CONTAINER***** */
button {
  border-radius: 2px;
  background: black;

  padding: 1.4% 9.2%;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  color: white;
  outline: 0px;
  border: 1px white solid;
  cursor: pointer;
}

/* .comment-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.comment-form input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.comment-form button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
} */

/* ******PAGE-3-CONTACT US PAGE****** */

.page3 {
  height: 84.71vh;
  padding-top: 4%;
  margin-bottom: 0%;
}

/* ***PAGE-3 TITLE TEXT***** */
.page3 h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  line-height: 90%;
  text-align: center;
  margin: 3.1% 0% 4.2% 0%;
}

/* *******CONTACT US BOXES***** */
.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6%;
  justify-content: center;
}
.contact-item {
  min-height: 225px;
  background-color: #fcba03;
  position: relative;
  flex: 0 0 20%;
  margin: 0% 2% 0% 2%;
  text-align: center;
  justify-content: center;
}

/* ********CHAT BOX**** */
.chatbox {
  border: 5px black solid;
  background-color: white;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: black;
  margin: 5px;
  margin-top: 15%;
  display: inline-block;
  padding: 15px 35px;
  min-width: 200px;
  cursor: pointer;
}
.chatbox:hover {
  background-color: black;
  color: white;
}

/* **CHAT BOX** */
.chatbox {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

/* ***FOOTER*** */
footer {
  background-color: black;
  text-decoration: none;
  height: 10%;
  padding: 2%;
  text-align: center;
  justify-content: center;
}

.links a i {
  color: white;
  transition: 0.4s;
  cursor: pointer;
  padding: 0% 0.8% 0% 0.8%;
  size: 5%;
}
.links a i:hover {
  color: #fcba03;
  transform: scale(1.5);
}

/* **CREDIT** */
footer h2 {
  color: gray;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  float: right;
  padding: 0% 1% 0.5% 1%;
  margin: 0%;
}

/* **RESPONSIVENESS** */
@media screen and (max-width: 415px) {
  /* *********PAGE-1********** */
  .homepage h2 {
    font-size: 3.5rem;
  }
  .homepage h3 {
    font-size: 2.5rem;
  }
  .homepage h4 {
    font-size: 2.5rem;
  }
  .homepage {
    padding: 7rem 2rem;
    height: 27.5rem;
    margin-bottom: 19%;
  }

  /* *****NAVIGATION BAR********* */
  .logo {
    font-size: 308%;
    padding: 1% 0% 10% 0%;
    margin-left: -14px;
  }

  nav {
    flex-direction: column;
    padding: 0.9rem;
    text-align: center;
    margin-top: -19%;
    padding-top: 7%;
    padding-bottom: 8.6%;
    position: relative;
  }
  nav .link a {
    font-size: 20px;
    padding-left: -5%;
  }

  /* **PAGE-2 FLEX-ITEM** */
  .box {
    width: 25%;
    height: 40%;
  }

  button {
    margin: 195% 3% 2% 5%;
  }

  /* **PAGE-3** */
  .contact-item {
    margin: 8% 1% 1% 1%;
  }

  /* **FOOTER** */
  footer {
    margin-top: 105%;
  }

  footer h2 {
    margin-top: 4%;
    float: none;
  }
}
